@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Monsieur+La+Doulaise');

body {
  background-color: #1B043B;
  margin: 30px auto;
  max-width: 1000px;
  font-family:'Monsieur La Doulaise, cursive','Josefin Slab', serif';
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
}

body {
  background-image: url(images/sapphire.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

img {
  float: center;
}

h1 {
  float: center;
  padding: 5px 0px 5px 0px;
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 90px;
  color: White;

}

h2 {
  font-family: 'Josefin Slab', serif;
  color: White;
}

h3 {
  font-family: 'Josefin Slab', serif;
  color: White;
}


a {
  font-family: 'Josefin Slab', serif;
  color: White;
  text-decoration: none;
}

p {
  font-family: 'Josefin Slab', serif;
  color: White;
}

/* mouse over link */
a:hover {
  color: #14A9FF;
}

/* Style the header div */
  .header {
      padding: 30px;
      text-align: center;
      font-size: 25px;
    }

    .header ul {
  	   display: flex;
       justify-content: center;
     }

     .header ul li {
	      list-style-type:none;
	      display: list-item;
	      line-height: 10px;
        padding: 10px 30px 30px 0px;
      }


/* Centers images */
img{
  display: block;
  margin: 0px auto;
  text-align: center;
}


/* When you put a period in front fo a CSS declatation, it indicates you are creating a new class. We can apply this to div elements to create different portfolio entries */

portfolio-item {
  margin-top: 60px;
  padding: 40px;
  background-color: #f7f7f7;
}

/* Navbar container */
.navbar {
  float: center;
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Josefin Slab', serif; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: White;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  font-family: 'Josefin Slab', serif;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-family: 'Josefin Slab', serif;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
