@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive|Coming+Soon|Kristi|Liu+Jian+Mao+Cao|Press+Start+2P&display=swap");

body {
  background-image: url("/images/TheChico.jpg");
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

h1 {
  color: Black;
  font-size: 18pt;
  font-family: 'Press Start 2P', cursive;
}

p {
  color: Red;
  font-family: 'Underdog', cursive;
  display: inline;
}
p1 {
  color: Black;
  font-family:'Underdog', cursive;
}

a {
  color: Red;
  text-decoration: none;
}

a:hover {
  color: Orange;
}

a:active {
  color: blue;
}
